/*font-family: 'Titillium Web', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Source Code Pro', monospace;*/

.wrp {
	width: 100%;
	background-color: hsl(187, 33%, 50%);
	height: auto;	
}
.header {
	max-width: 800px;
	background-color: hsl(217, 29%, 40%);
	margin: 0 auto;
	border-radius: 70%;
}
#logo {
	float: left;
	margin: 1%;
}
#contact {
	color: #fff;
	float: right;
	font-family: 'Titillium Web', sans-serif;
	text-align: justify;
}
.clr_b {
	clear: both;

}
#slide_bg {
	width:97%;
	background-color: hsl(81, 41%, 80%);
	border: 2px #000 solid;
	border-radius: 40%;
	
	
	margin: 0 auto;
}
#slider img {
	display: block;
	width: 35%;
	height: 35%;
	margin: 0 auto;
	border-radius: 20%;	

}
ul {
	list-style-type: none;
	text-align: center;
	margin:0;
	padding:0;
}
li {
	display:inline-block;
	margin: 2% 0;
}
button {
	background-color: hsl(240, 12%, 80%);
	box-shadow: none;
	border-style: none;
	border-radius: 5px;
}
button:hover {
	background-color: hsl(217, 29%, 40%);
}
button a i.material-icons  {
	color: blue;
	font-size: 3em;	
}
